<li class="bbf-field">
  <label>Assignee Email</label>
  <div class="bbf-editor bbf-editorText">
    <select class="new-task-assignee-email" name="assignees[][email]">
      <option value=""></option>
      <% users.each(function(user) { %>
        <option value="<%= user.get('email') %>"><%= user.get('email') %></option>
      <% }); %>
    </select>
  </div>
</li>
