<fieldset>
  <ul>
    <li class="bbf-field bbf-fieldText">
      <label for="new-task-title">Title</label>
      <div class="bbf-editor bbf-editorText">
        <input id="new-task-title" name="title" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>
    <li>
      <ul class="assignees">
        <li class="bbf-field">
          <a class="add-assignee" href="#">Add Assignee</a>
        </li>
      </ul>
    </li>
    <li class="bbf-field">
      <input type="submit" value="Create task">
    </li>
    <li class="bbf-field">
      <a class="leave" href="#">I'm done adding tasks</a>
    </li>
  </ul>
</fieldset>
