<table id="tasks-list">
  <tr>
    <th>Title</th>
    <th>Completed</th>
  </tr>
  <% tasks.each(function(task) { %>
    <tr>
      <td><%= task.escape('title') %></td>
      <td><%= task.escape('completed') %></td>
    </tr>
  <% }); %>
</table>

<a class="create" href="#new">Add task</a>
