<form>
  <div id="task_title_input">
    <label for="task_title">Title</label>
    <input type="text" name="title" id="task_title"/>
  </div>
  <div class="buttons">
    <input type="submit" value="Create task"/>
    <a href="#">I'm done adding tasks</a>
  </div>
</form>
