<p>Task title</p>

<ul class="attachments">
  <li class="attachment">
    <p>Attached: upload.jpg</p>
    <img src="/upload.jpg">
  </li>
</ul>

<div class="upload">
  <label for="input">Attach a file to upload</label>
  <input type="file" name="file" />
  <button>Upload attachment</button>
</div>

