<h1>Tasks</h1>

<div id="tasks">
</div>

<script type="text/json" id="bootstrap">
  {
    "tasks": <%= @tasks.to_json(include: 
                                { assigned_users: { only: [:id, :email] } }) %>,
    "users": <%= @users.to_json %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      ExampleApp.initialize(data);
    });
  </script>
<% end %>
