<h1>Tasks</h1>

<div id="tasks">
</div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $(function() {
      ExampleApp.init(<%== @tasks.to_json %>);
    });
  <% end %>
<% end -%>
