<!-- app/assets/templates/tasks_index.jst.ejs -->
<ul>
  <% tasks.each(function(task) { %>
    <div class="checkbox complete">
      <input id="<%= dom_id(task, 'complete') %>"
             type="checkbox"
             <%= task.isComplete() ? ' checked="checked"' : '' %>>
    </div>

    <a href="#<%= task.id %>">
      <%= task.escape("title") %>
    </a>
  <% end %>
</ul>
